<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">MiCasa</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav m-auto">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/accomodation/rooms">Listings</a>
        <a class="nav-link" href="#">About</a>
      </div>
    </div>
    {% if user.is_authenticated %}
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn  dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <img src={{ user.profile.profile_pic.url }} alt="profilePic" srcset="" class="img-fluid" style="width:2rem">
            {{ user.username }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">My Bookings</a>
            <a class="dropdown-item" href="{% url 'profile-page' %}">My Profile</a>
            <a class="dropdown-item" href="{% url 'logout-page' %}">Logout</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="btn-group">
        <a href="/user/login">
          <div class="btn btn-sm btn-warning mx-3">Login</div>
        </a>
        <a href="/user/register">
          <div class="btn btn-sm btn-success">Register</div>
        </a>
      </div>
    {% endif %}
    {% comment %} <div class="profle-icon">
      <i class="fa-solid fa-circle-user"></i>
    </div> {% endcomment %}
  </div>
</nav>
